@mixin flex {
    display: flex;
}
@mixin item-center {
    align-items: center;
}

@mixin content-center {
    justify-content: center;
}

@mixin column {
    flex-direction: column;
}

@mixin dpNone {
    display: none;
}

@mixin flex__item-center {
    @include flex;
    @include item-center;
}

@mixin flex__content-center {
    @include flex;
    @include content-center;
}

@mixin flex__column {
    @include flex;
    @include column;
}

@mixin dpNone__item-center {
    @include dpNone;
    @include item-center;
}

@mixin dpNone__content-center {
    @include dpNone;
    @include content-center;
}

@mixin posAbs-center {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}