/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #FFFEF8;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
.main-container {
  max-width: 1140px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

section {
  margin: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
}

h1 > span {
  font-family: "Work Sans";
  font-size: 10px;
  letter-spacing: 0.1em;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

#contact, #login {
  width: 50%;
  margin: auto;
}
#contact > *, #login > * {
  text-align: center;
}
#contact h2, #login h2 {
  margin-bottom: 20px;
}
#contact form, #login form {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-top: 30px;
}
#contact input, #login input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label, #login label {
  margin: 2em 0 1em 0;
}
#contact textarea, #login textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact a, #login a {
  display: flex;
  border-bottom: 1px solid black;
  max-width: max-content;
  margin: auto;
}
#contact input[type=submit], #login input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}

#modalAddProject {
  display: none;
}

.modal__main {
  display: none;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}
.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.modal__card {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 60%;
  width: 40%;
  border-radius: 10px;
  background-color: #fff;
}
.modal__card--iconCross {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  font-size: 24px;
}
.modal__card--iconArrow {
  position: absolute;
  top: 30px;
  left: 30px;
  cursor: pointer;
  font-size: 21px;
}
.modal__card--title {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  font-family: Work Sans;
  font-size: 26px;
}
.modal__card--elementProject {
  margin: auto;
  width: 420px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 5px;
  grid-row-gap: 25px;
  margin-top: 45px;
  margin-bottom: 67px;
}
.modal__card--elementProject figure {
  position: relative;
  width: 78px;
  height: 105px;
}
.modal__card--elementProject figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.modal__card--elementProject figure i {
  position: absolute;
  background-color: black;
  border-radius: 2px;
  color: #fff;
  top: 10px;
  right: 10px;
  padding: 4px;
  font-size: 10px;
  cursor: pointer;
}
.modal__card--underline {
  margin-bottom: 35px;
  width: 420px;
  border: 1px solid #B3B3B3;
}
.modal__card--btn {
  margin: auto;
  width: fit-content;
  font-family: Syne;
  font-size: 14px;
  color: #fff;
  background-color: #1D6154;
  border-radius: 60px;
  padding: 10px 50px;
  margin-bottom: 55px;
  cursor: pointer;
}

.modal__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  margin: auto;
}
.modal__form__imgBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  background-color: #E8F1F6;
  width: 100%;
  margin-top: 36px;
}
.modal__form__imgBlock--img {
  display: none;
  max-width: 420px;
  height: auto;
}
.modal__form__imgBlock--icon {
  font-size: 76px;
  color: #B9C5CC;
  margin: 22px 0 15px 0;
}
.modal__form__imgBlock--inputFile {
  display: none;
}
.modal__form__imgBlock--btnFile {
  display: flex;
  font-family: Work Sans;
  font-size: 14px;
  color: #306685;
  align-items: center;
  justify-content: center;
  width: 173px;
  height: 36px;
  border-radius: 50px;
  background-color: #CBD6DC;
  cursor: pointer;
}
.modal__form__imgBlock--txt {
  font-family: Work Sans;
  font-size: 10px;
  color: #444444;
  margin: 7px 0 19px 0;
}
.modal__form__titleBlock {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 100%;
}
.modal__form__titleBlock--label {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 600;
  color: #3D3D3D;
  margin-bottom: 10px;
}
.modal__form__titleBlock--input {
  height: 51px;
  border: none;
  background: #FFF;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  font-family: Work Sans;
  font-size: 14px;
  color: #444;
  padding: 0 16px;
}
.modal__form__categoryBlock {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 21px;
}
.modal__form__categoryBlock--label {
  font-family: Work Sans;
  font-size: 14px;
  font-weight: 600;
  color: #3D3D3D;
  margin-bottom: 10px;
}
.modal__form__categoryBlock--select {
  height: 51px;
  border: none;
  background: #FFF;
  box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.09);
  font-family: Work Sans;
  font-size: 14px;
  color: #444;
  padding: 0 16px;
  margin-bottom: 47px;
}
.modal__form--btnSubmit {
  border: none;
  width: 237px;
  height: 36px;
  border-radius: 60px;
  margin-bottom: 55px;
  color: #FFF;
  font-family: Syne;
  font-size: 14px;
  background-color: #a7a7a7;
  cursor: pointer;
}
.modal__form--btnSubmit.active {
  background-color: #1D6154;
}

header {
  display: flex;
  justify-content: space-between;
  margin: 50px 0;
}

.nav__container {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.nav__element {
  padding: 0 10px;
  font-size: 1.2em;
}
.nav__element--link {
  text-decoration: none;
  color: black;
}
.nav__element--link:hover {
  color: #B1663C;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

.editBanner {
  display: none;
  justify-content: center;
  height: 60px;
  background-color: black;
}
.editBanner__container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.editBanner__icon {
  font-size: 15.5px;
  color: white;
}
.editBanner__txt {
  font-family: Work sans;
  color: white;
}

.editProject {
  display: none;
  align-items: center;
  cursor: pointer;
  gap: 10px;
}
.editProject--icon {
  font-size: 15.58px;
}
.editProject__txt {
  font-size: 14px;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure, #introduction article {
  flex: 1;
}
#introduction img {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}

#portfolio {
  display: flex;
  flex-direction: column;
  margin-top: 140px;
}

.projectTitleContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  gap: 30px;
}

.filterContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  font-family: Syne;
  font-size: 1.1em;
  color: #1D6154;
}
.filterElement {
  display: flex;
  align-items: center;
  border: 1px solid #1D6154;
  border-radius: 60px;
  padding: 9px 30px;
  cursor: pointer;
}
.filterElement:hover, .filterElementActive {
  background-color: #1D6154;
  color: #fff;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 50px;
}
.gallery img {
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
