#introduction {
	@include flex__item-center;
	& figure, article {
		flex: 1;
	}
	& img {
		display: block;
		margin: auto;
		width: 80%;
	}
	& h2 {
		margin-bottom: 1em;
	}
	& p {
		margin-bottom: 0.5em;
	}
}